<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSharpCourseLecture101.Properties.Settings.SampleConnectionString"
            connectionString="Data Source=DESKTOP-KQOJ5JJ\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CSharpCourseLecture101.Properties.Settings.SampleConnectionString1"
            connectionString="Data Source=MEM_SURFACE\SQLEXPRESS;Initial Catalog=Sample;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>